@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap');

/* general rules - concentrate all general rules together */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    padding-top: 95px;
    padding-bottom: 20px;
    
    /* settings main body font and padding used for fixed header and footer */
}

h1,
h2 {
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272A23;

    /* settings for h1 and h2 elements font, color, spacing and transform */
}

.main-sections {
    height: 620px;
    max-width: 100%;
    /* overflow: hidden; */
    position: relative;
    padding: 10px;

    /* settings for the main sections */
}

#cover-text,
#whoweare-text,
#meetup-text,
.signup-form {
    background-color: rgba(3, 103, 83, 0.8);
    color: #fff;
    padding: 15px;
    /* margin: auto; */
    letter-spacing: 2px;

    /* settings for main text elements - color moved to rule below */
}

#cover-text h2,
#whoweare-text h2,
#meetup-text h2,
.signup-form h2 {
    color: #fff;
    
    /* rule created to prevend darker background for h2 elements - it was causing background color to double */
}

#whoweare-text h2,
#meetup-text h2,
.signup-form h2 {
    font-size: 130%;
}

/* fixed header and footer - reference https: //www.tutorialrepublic.com/codelab.php?topic=faq&file=css-fixed-positioned-header-and-footer */

.fixed-header,
.fixed-footer {
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 10px 0;
}

.fixed-header {
    top: 0;
    z-index: 9999; /* added to prevent content overlapping header */
}

.fixed-footer {
    bottom: 0;
}

/* logo and navigation menu section */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

nav ul {
    float: right /* solution found to keep correct items order without changing html */
}

#menu li {
    display: inline; /* solution found to keep correct items order without changing html */
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #272A23;
}



/* .border-elements {
    border-style: 2px solid #036753;
} */

/* hero section */

#hero-outer {
    overflow: hidden;
}

#hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/hero.image.jpg'); /* replaced image for immage with suitable size */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cover-text {
    font-size: 150%;
    font-family: Nunito Sans, sans-serif;
    text-align: left;
    text-transform: uppercase;
    width: 380px;
    height: 150px;
    /* div size - height and width */
    bottom: 100px;
    right: 150px;
    /* placing at a fixed position relative to its parent container */
    position: absolute;
}

/* who we are section */

#whoweare-image {
    height: 100%;
    max-width: 400px;
    background-image: url('../images/whoweare-image.WebP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#whoweare-text {
    width: 60%;
    /* div size - height and width */
    max-width: 830px;
    height: auto;
    
    text-align: left;
    
    top: 20%;
    right: 7%;
    bottom: 20%;
    left: 33%;
    /* placing at a dynamic position relative to its parent container */
    position: absolute;
}

p {
    margin: 10px;
}

/* join us section */

#joinus-form {
    width: 60%;
    height: auto;
    
    top: 15%;
    right: 33%;
    bottom: 15%;
    left: 7%%;
    /* placing at a dynamic position relative to its parent container */
    position: absolute;
}

.signup-form {
    max-width: 830px;
}

.text-input {
    color: #272A23;
    width: 100%;
    height: 25px;
    margin: 5px 0 12px 0;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #b52222;
}

.block-dropdown {
    color: #272A23;
    width: 50%;
    height: 25px;
    margin: 5px 0 12px 0;
    border-radius: 2px;
}

.block-dropdown:hover {
    border-color: #b52222;
}

.join-button {
    margin-left: 40px;
    margin-top: 5px;
    border-radius: 2px;
    padding: 15px 50px 15px 50px;
    text-align: center;
    font-size: 120%;
    background-color: #fff;
    color: #036753;
    display: block;
}

.join-button:hover {
    background-color: #b52222;
    color: #fff;
}

#joinus-image {
    height: 100%;
    width: 400px;
    background-image: url('../images/joinus-image.WebP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right
}

/* meet up section */

#meetup-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/meetup-image.WebP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.map-wrapper {
    width: 30%;
    height: auto;
    
    float: left;
    
    top: 10%;
    right: 50%;
    bottom: 16%;
    left: 10%;
    
    /* placing at a dynamic position relative to its parent container */

    position: absolute;
}

#meetup-text {
    text-align: left;
    
    width: 40%;
    max-width: 50%;
    height: auto;
    
    top: 25%;
    right: 10%;
    bottom: 25%;
    left: 50%;
    
    position: absolute;
}

.token-meetup h3 {
    text-decoration: underline #fff;
    font-size: 125%;
}

.token-meetup p {
    margin: 6px;
    font-style: italic;
    font-weight: bold;
}

/* footer section */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    color: #272A23;
}

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    
    #meetup {
        width: 100%;
        height: 920px;
        margin: 0 auto;
        /* margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px; */
    }

    .map-wrapper, {
        float: left;
        left: 0%;
        bottom: 30px;
        padding: 0;
        /* align: left !important; */
    }
    
    #meetup-text {
        float: left;
        text-align: left;
        padding: 10px;
        
        left: 10px;
        bottom: 555px;
        }

    #meetup-image {
        height: 900px;
    }
}

/* for medium sceen sizes 980px and down */

@media screen and (max-width: 980px) {

}

/* For medium screen sizes from 600px */

@media screen and (max-width: 600px) {
    
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    #logo {
        font-size: 120%;
    }

    #menu li {
        font-size: 80%;
        /* clear: left; */
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        display: block;
    }
    
    #cover-text {
        left: 0;
        max-width: 90%;
        padding: 10px;
        width: auto;
        height: auto;
        right: 0;
    }
    
    #menu,
    #logo {
        /* line-height: 55px; */
    }

    .main-elements {
        padding: 0;
    }

    #whoweare-text {
        right: 0;
        max-width: 90%;
    }
}
