@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    padding-top: 95px;
    padding-bottom: 20px;
}

/* fixed header and footer reference https: //www.tutorialrepublic.com/codelab.php?topic=faq&file=css-fixed-positioned-header-and-footer */

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 10px 0;
}

.fixed-header {
    top: 0;
    z-index: 9999; /* added to prevent content overlapping header */
}

.fixed-footer {
    bottom: 0;
}

/* headings and logo */

h1,
h2 {
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272A23;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation menu */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

nav ul {
    float: right
        /* solution found to keep correct items order without changing html */
}

#menu li {
    display: inline;
        /* solution found to keep correct items order without changing html */
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #272A23;
}

/*  general rules */

/* .page-elements {
    height: 620px;
    width: 100%;
    padding: 10px;
} */

/* img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
} */

#cover-text, #cover-text h2, #whoweare-boxes {
    background-color: rgba(5, 160, 129, .8);
    /* rgba value for oppacity */
    color: #fff;
}

.align-left {
    float: left;
    width: 40%;
    height: 600px;
}

.align-right {
    float: right;
    width: 60%;
    height: 600px;
}

/* page elements */

/* hero-image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* allows child to position absolute to the parent */
}

#hero-image {
    height: 600px;
    max-width: 100%;
    background-image: url('../images/hero.image.jpg'); /* replaced image for immage with suitable size */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cover-text {
    font-size: 150%;
    font-family: Nunito Sans, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* space between letters */

    width: 380px;
    /* div size - height and width */
    height: 150px;

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;

    bottom: 100px;
    /* placing at a fixed position relative to its parent container */
    right: 150px;

    position: absolute;
}

/* who we are element */

#whoweare {
    height: 620px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

#whoweare-image {
    height: 600px;
    max-width: 40%;
    background-image: url('../images/whoweare-image.WebP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#whoweare-content {
    width: 60%;
    float: right
}

#whoweare-text {
    
    font-size: 130%;
    text-align: center;
    vertical-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: auto;
    padding: 10px;
    
    width: 350px;
    height: 195px;

    bottom: 250px;
    right: 220px;
    position: absolute;
    border: 3px solid #05a081;
    
}

#whoweare-boxes span {
    font-size: 100%;
    width: 33%;
    height: 100px;
    text-transform: uppercase;
    display: inline;
    padding: 20px;
    border: 3px solid #05a081;



    /* bottom: 100px; */
        /* placing at a fixed position relative to its parent container */
    /* right: 150px; */
    /* box-sizing: border-box; */
    /* position: absolute; */
    
}

/* join us element */

#joinus {
    height: 620px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

#joinus-image {
    height: 600px;
    max-width: 40%;
    background-image: url('../images/joinus-image.WebP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
    right: 0;
    position: absolute;
}

#joinus-form {
    width: 60%;
    height: 600px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #272A23;
    background-color: #fff;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 20px;
    border: 3px solid #05a081;
    bottom: 100px;
}

.text-input {
    color: #272A23;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #05a081;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #b52222;
}

.block-dropdown {
    color: #272A23;
    width: 50%;
    height: 15px;
    margin: 5px 0 20px 0;
    border: 2px solid #05a081;
    border-radius: 2px;
}

.block-dropdown:hover {
    border-color: #b52222;
}

#consoles {

}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #05a081;
    color: #fff;
    display: block;
}

.join-button:hover {
    background-color: #b52222;
    color: #fff;
}


/* meet up element */

#meetup {
    height: 620px;
    max-width: 100%;
    position: relative;
    padding: 10px;
}

#meetup-imaage {
    background-image: url('../images/meetup-image.WebP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#map-wrapper {
    float: left
    /* width: 50% */
    bottom: 55px;
    left: 200px;
    position: absolute;
}

#meetup-text {
    float: right
    font-size: 130%;
    text-align: center;
    vertical-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px;
    
    width: 350px;
    height: 300px;
    
    bottom: 200px;
    right: 220px;
    position: absolute;
    border: 3px solid #05a081;
}

/* footer element */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    color: #272A23;
}