@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    padding-top: 95px;
    padding-bottom: 60px;
}

/* fixed header and footer reference https: //www.tutorialrepublic.com/codelab.php?topic=faq&file=css-fixed-positioned-header-and-footer */

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 10px 0;
}

.fixed-header {
    top: 0;
    z-index: 9999; /* added to prevent content overlapping header */
}

.fixed-footer {
    bottom: 0;
}

/* headings and logo */

h1,
h2 {
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272A23;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation menu */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

nav ul {
    float: right
        /* solution found to keep correct items order without changing html */
}

#menu li {
    display: inline;
        /* solution found to keep correct items order without changing html */
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #272A23;
}

/*  general rules */

.page-elements {
    height: 650px;
    width: 100%;
    padding: 25px 25px 25px 25px;
}

img {
    width: 450px;
    height: 600px;
}

/* page elements */

/* hero-image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
    /* allows child to position absolute to the parent */
}

#cover-text,
#cover-text h2 {
    /* h2 added to override main h2 rule above */
    color: #fff;
}

#hero-image {
    height: 600px;
    max-width: 100%;
    background-image: url('../images/hero.image.jpg'); /* replaced image for immage with suitable size */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cover-text {
    font-size: 130%;
    font-family: Nunito Sans, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* space between letters */

    width: 350px;
    /* div size - height and width */
    height: 150px;

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;

    background-color: rgba(5, 160, 129, .8);
    /* rgba value for oppacity */

    bottom: 100px;
    /* placing at a fixed position relative to its parent container */
    right: 150px;

    position: absolute;
}

/* who we are element */

#whoweare {

}

#whoweare-image {

}

#whoweare-text {

}

#whoweare-boxes {

}

/* join us element */

#joinus {

}

#joinus-form {

}

.signup-form {

}

.text-input {

}

.block-dropdown {

}

#consoles {

}

.join-button {

}

#joinus-image {

}

/* meet up element */

#meetup {

}

#meetup-imaage {

}

#meetup-text {

}

#map-wrapper {

}

/* footer element */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    color: #272A23;
}